@media (max-width:991px ){

	.cheap-writing h1 {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 500;
    padding-bottom: 10px;
}
.cheap-writing p {
    margin-top: 8px;
    font-size: 13px;
}
header {
 
    background-size: 534px;
}
.cheap-writing a {
    margin-top: 14px;
    font-size: 15px;
    padding: 11px 13px;
}
.global-content h2 {
    font-size: 18px;
}
.global-content p {
    font-size: 16px;
   
    font-weight: 500;
}	
.languages-content p {
    font-size: 16px;
   
    font-weight: 500;
    margin-bottom: 50px;
}
}

@media (max-width:767px ){
	.cheap-writing h1 {
    font-size: 22px;
 
    padding-bottom: 5px;
}
header {
    background-size: 408px;
}
.cheap-writing i {
    
    margin-right: 6px;
    font-size: 21px;
}
.cheap-writing a {
       margin-top: 12px;
    font-size: 12px;
    padding: 10px 9px;
}
.blue {
   
    margin-right: 10px;
    margin-left: 11px;
}
.languages-content {
    padding-top: 35px;
}


}

@media (max-width:575px ){
	.cheap-writing h1 {
    font-size: 20px;
}
	
    header {

            background-image: url("");
   
}
.cheap-writing a {
    margin-top: 8px;
    font-size: 10px;
}
}

@media (max-width:400px ){
    header{
            background-image: url("");
    }
	.cheap-writing h1 {
    font-size: 26px;
    padding-bottom: 18px;
}
.cheap-writing a {
    margin-top: 12px;
    font-size: 16px;
}
.cheap-writing i {
   
    font-size: 34px;
}
.languages-content h3 {
       font-size: 22px;
}
.global-content h2 {
    font-size: 15px;
    font-weight: 900;
}
}


